* {
    nord00: #2e3440;
    nord01: #3b4252;
    nord02: #434c5e;
    nord03: #4c566a;

    nord04: #d8dee9;
    nord05: #e5e9f0;
    nord06: #eceff4;

    nord07: #8fbcbb;
    nord08: #88c0d0;
    nord09: #81a1c1;
    nord10: #5e81ac;

    nord11: #bf616a;
    nord12: #d08770;
    nord13: #ebcb8b;
    nord14: #a3be8c;
    nord15: #b48ead;

    nord06-50: #eceff480;

    background-color: transparent;
    font: "JetBrains Mono Medium 10";
    spacing: 0px;
}
